# Get carbon intensity by country

We get our carbon intensity from [Our World In Data](https://ourworldindata.org/grapher/carbon-intensity-electricity).

The data source and processing are available on [OWID Github](https://github.com/owid/energy-data).

In [8]:
import pandas as pd
import numpy as np

In [9]:
df = pd.read_csv("https://raw.githubusercontent.com/owid/energy-data/master/owid-energy-data.csv")
df

,country,year,iso_code,population,gdp,biofuel_cons_change_pct,biofuel_cons_change_twh,biofuel_cons_per_capita,biofuel_consumption,biofuel_elec_per_capita,...,solar_share_elec,solar_share_energy,wind_cons_change_pct,wind_cons_change_twh,wind_consumption,wind_elec_per_capita,wind_electricity,wind_energy_per_capita,wind_share_elec,wind_share_energy
0,Afghanistan,1900,AFG,4832414.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,1901,AFG,4879685.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,1902,AFG,4935122.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,1903,AFG,4998861.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,1904,AFG,5063419.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21885,Zimbabwe,2017,ZWE,14751101.0,2.194784e+10,NaN,NaN,NaN,NaN,21.693,...,0.136,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,NaN
21886,Zimbabwe,2018,ZWE,15052191.0,2.271535e+10,NaN,NaN,NaN,NaN,25.910,...,0.218,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,NaN
21887,Zimbabwe,2019,ZWE,15354606.0,NaN,NaN,NaN,NaN,NaN,24.748,...,0.364,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,NaN
21888,Zimbabwe,2020,ZWE,15669663.0,NaN,NaN,NaN,NaN,NaN,22.336,...,0.395,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,NaN
21889,Zimbabwe,2021,ZWE,15993525.0,NaN,NaN,NaN,NaN,NaN,23.760,...,0.498,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,NaN

In [10]:
df.query("country == 'India'")

,country,year,iso_code,population,gdp,biofuel_cons_change_pct,biofuel_cons_change_twh,biofuel_cons_per_capita,biofuel_consumption,biofuel_elec_per_capita,...,solar_share_elec,solar_share_energy,wind_cons_change_pct,wind_cons_change_twh,wind_consumption,wind_elec_per_capita,wind_electricity,wind_energy_per_capita,wind_share_elec,wind_share_energy
9184,India,1900,IND,2.919791e+08,2.716975e+11,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9185,India,1901,IND,2.933739e+08,2.773278e+11,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9186,India,1902,IND,2.950267e+08,3.006720e+11,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9187,India,1903,IND,2.969399e+08,3.047644e+11,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9188,India,1904,IND,2.988655e+08,3.060750e+11,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9301,India,2017,IND,1.354196e+09,8.275647e+12,-11.994,-2.077,11.251,15.237,18.395,...,1.464,0.659,21.119,23.737,140.062,38.864,52.63,103.428,3.577,1.610
9302,India,2018,IND,1.369003e+09,8.835758e+12,33.957,5.174,14.909,20.410,19.883,...,2.301,1.038,14.596,19.505,159.567,44.054,60.31,116.557,3.820,1.723
9303,India,2019,IND,1.383112e+09,NaN,11.677,2.383,16.480,22.794,22.782,...,2.853,1.286,4.979,7.327,166.895,45.774,63.31,120.666,3.903,1.759
9304,India,2020,IND,1.396387e+09,NaN,-2.910,-0.663,15.848,22.130,23.589,...,3.755,1.724,-4.560,-8.195,158.700,43.276,60.43,113.650,3.867,1.775
9305,India,2021,IND,1.407564e+09,NaN,20.318,4.496,18.917,26.627,25.200,...,3.986,1.816,12.688,19.481,178.181,48.374,68.09,126.588,3.973,1.811

In [11]:
elec_col = [c for c in df.columns.to_list() if "_electricity" in c]
nuke_col = [c for c in elec_col if "nuclear" in c]
nuke_col

['nuclear_electricity']

In [12]:
carbon_intensity_col = [c for c in df.columns.to_list() if "intensity" in c]

In [13]:
df[['country', 'iso_code', 'year'] + carbon_intensity_col + elec_col].query("iso_code=='FRA' and year==2021")

,country,iso_code,year,carbon_intensity_elec,biofuel_electricity,coal_electricity,fossil_electricity,gas_electricity,hydro_electricity,low_carbon_electricity,nuclear_electricity,oil_electricity,other_renewable_electricity,other_renewable_exc_biofuel_electricity,per_capita_electricity,renewables_electricity,solar_electricity,wind_electricity
7304,France,FRA,2021,67.39,9.6,5.44,48.66,33.36,59.62,501.72,379.36,9.86,10.18,0.58,8528.864,122.36,15.73,36.83

In [15]:
df_filtered = df[['country', 'iso_code', 'year'] + carbon_intensity_col + elec_col].query("year==2021 and iso_code.notnull()")
columns_names = {
    'country':'country_name',
    'carbon_intensity_elec':'carbon_intensity',
    'biofuel_electricity':'biofuel_TWh',
    'coal_electricity':'coal_TWh',
    'fossil_electricity':'fossil_TWh',
    'gas_electricity':'gaz_TWh',
    'hydro_electricity':'hydroelectricity_TWh',
    'low_carbon_electricity':'low_carbon_TWh',
    'nuclear_electricity':'nuclear_TWh',
    'oil_electricity':'oil_TWh',
    'other_renewable_electricity':'other_renewable_TWh',
    'other_renewable_exc_biofuel_electricity':'other_renewable_exc_biofuel_TWh',
    'per_capita_electricity':'per_capita_Wh',
    'renewables_electricity':'renewables_TWh',
    'solar_electricity':'solar_TWh',
    'wind_electricity':'wind_TWh'
}
df_filtered.rename(columns=columns_names, inplace=True)
df_filtered = df_filtered[['country_name',
                        'iso_code',
                        'year',
                        'carbon_intensity',
                        'fossil_TWh',
                        'renewables_TWh',
                        'per_capita_Wh',
                        'coal_TWh',
                        'gaz_TWh',
                        'oil_TWh',
                        'solar_TWh',
                        'wind_TWh',
                        'hydroelectricity_TWh',
                        'other_renewable_TWh',
                        'other_renewable_exc_biofuel_TWh',
                        'nuclear_TWh',
                        'biofuel_TWh',
                        'low_carbon_TWh']]
df_filtered.head(5)

,country_name,iso_code,year,carbon_intensity,fossil_TWh,renewables_TWh,per_capita_Wh,coal_TWh,gaz_TWh,oil_TWh,solar_TWh,wind_TWh,hydroelectricity_TWh,other_renewable_TWh,other_renewable_exc_biofuel_TWh,nuclear_TWh,biofuel_TWh,low_carbon_TWh
121,Afghanistan,AFG,2021,120.482,0.13,0.70,20.699,0.0,0.00,0.13,0.08,0.00,0.62,0.00,0.0,0.0,0.00,0.70
682,Algeria,DZA,2021,488.393,76.63,0.91,1755.174,0.0,75.30,1.33,0.81,0.01,0.09,0.00,0.0,0.0,0.00,0.91
724,American Samoa,ASM,2021,687.500,0.16,0.00,3551.136,0.0,0.00,0.16,0.00,0.00,0.00,0.00,0.0,0.0,0.00,0.00
846,Angola,AGO,2021,168.594,4.63,11.80,476.180,0.0,3.89,0.74,0.02,0.00,11.50,0.28,0.0,0.0,0.28,11.80
928,Antigua and Barbuda,ATG,2021,657.143,0.33,0.02,3754.197,0.0,0.00,0.33,0.02,0.00,0.00,0.00,0.0,0.0,0.00,0.02

In [16]:
columns_to_sum = ["fossil_TWh", "renewables_TWh", "nuclear_TWh"]
df_filtered['total_TWh'] = df_filtered[columns_to_sum].sum(axis=1)
df_filtered.head(2)

,country_name,iso_code,year,carbon_intensity,fossil_TWh,renewables_TWh,per_capita_Wh,coal_TWh,gaz_TWh,oil_TWh,solar_TWh,wind_TWh,hydroelectricity_TWh,other_renewable_TWh,other_renewable_exc_biofuel_TWh,nuclear_TWh,biofuel_TWh,low_carbon_TWh,total_TWh
121,Afghanistan,AFG,2021,120.482,0.13,0.70,20.699,0.0,0.0,0.13,0.08,0.00,0.62,0.0,0.0,0.0,0.0,0.70,0.83
682,Algeria,DZA,2021,488.393,76.63,0.91,1755.174,0.0,75.3,1.33,0.81,0.01,0.09,0.0,0.0,0.0,0.0,0.91,77.54

In [17]:
df_filtered.query("iso_code=='FRA'")

,country_name,iso_code,year,carbon_intensity,fossil_TWh,renewables_TWh,per_capita_Wh,coal_TWh,gaz_TWh,oil_TWh,solar_TWh,wind_TWh,hydroelectricity_TWh,other_renewable_TWh,other_renewable_exc_biofuel_TWh,nuclear_TWh,biofuel_TWh,low_carbon_TWh,total_TWh
7304,France,FRA,2021,67.39,48.66,122.36,8528.864,5.44,33.36,9.86,15.73,36.83,59.62,10.18,0.58,379.36,9.6,501.72,550.38

renewables_Twh = hydroelectricity_Twh + wind_Twh + solar_Twh + other_renewable_Twh

RTE Production

![RTE](2023-07-07-22-40-48.png)

In [19]:
# French electricity consumption in 2021 from https://ourworldindata.org/grapher/elec-mix-bar?stackMode=absolute&facet=metric&country=~FRA
# 57 TWh fossil + 297 TWh nuclear + 115 TWh renewable = 469 TWh
# From https://bilan-electrique-2021.rte-france.com/# we read 522 TWh for Production, but 468 TWh of consumption.
# Here we found 550 TWh, which is not the same !

assert df_filtered.query("iso_code=='FRA'")["total_TWh"].values[0] == 550.38

In [21]:
energy_mix = {}
for code in df_filtered['iso_code'].unique():
#for code in ['FRA', 'AFG', 'VNM']:
    # print(code)
    df=df_filtered.query("iso_code == @code")
    max_year = df.year.max()
    #if df.isnull().values.any() == False:
    if len(df)>0 and not np.isnan(df.loc[df.year == max_year].iloc[0]["carbon_intensity"]):
        energy_mix[code]=df.loc[df.year == max_year].iloc[0].to_dict()
    else:
        print(f"Warning: missing carbon_intensity value for {code} - {df.iloc[0].country_name}.")
energy_mix['USA']

Warning: missing carbon_intensity value for BMU - Bermuda.
Warning: missing carbon_intensity value for GUF - French Guiana.
Warning: missing carbon_intensity value for GIB - Gibraltar.
Warning: missing carbon_intensity value for GLP - Guadeloupe.
Warning: missing carbon_intensity value for ISL - Iceland.
Warning: missing carbon_intensity value for MTQ - Martinique.
Warning: missing carbon_intensity value for NIU - Niue.
Warning: missing carbon_intensity value for REU - Reunion.
Warning: missing carbon_intensity value for SHN - Saint Helena.
Warning: missing carbon_intensity value for ESH - Western Sahara.

{'country_name': 'United States',
 'iso_code': 'USA',
 'year': 2021,
 'carbon_intensity': 379.383,
 'fossil_TWh': 2512.45,
 'renewables_TWh': 861.58,
 'per_capita_Wh': 12321.215,
 'coal_TWh': 897.89,
 'gaz_TWh': 1579.36,
 'oil_TWh': 35.2,
 'solar_TWh': 164.42,
 'wind_TWh': 378.2,
 'hydroelectricity_TWh': 246.47,
 'other_renewable_TWh': 72.49,
 'other_renewable_exc_biofuel_TWh': 18.24,
 'nuclear_TWh': 778.19,
 'biofuel_TWh': 54.25,
 'low_carbon_TWh': 1639.77,
 'total_TWh': 4152.219999999999}

In [22]:

np.isnan(df_filtered.loc[df_filtered.iso_code == "GUF"].iloc[0]["carbon_intensity"])

True

In [23]:
import json
with open("global_energy_mix.json", "w") as outfile:
    json.dump(energy_mix, outfile, indent=4, sort_keys=True)

The output we need is a JSON file named `global_energy_mix.json` in this format:
```json
{
    "FRA": {
        "carbon_intensity": 55,
        "country_id": 194,
        "country_name": "France",
        "fossil_TWh": 44.553,
        "geothermal_TWh": 0.155753680282,
        "hydroelectricity_TWh": 60.75027,
        "iso_code": "FRA",
        "nuclear_TWh": 335.41461,
        "official_name_en": "France",
        "region": "Europe",
        "solar_TWh": 14.1455621272,
        "total_TWh": 498.55086677838193,
        "wind_TWh": 43.5316709709,
        "year": 2020
    },
    "USA": {
        "country_id": 48,
        "country_name": "US",
        "fossil_TWh": 2419.23028249,
        "geothermal_TWh": 16.93010517,
        "hydroelectricity_TWh": 291.11084,
        "iso_code": "USA",
        "nuclear_TWh": 789.91864,
        "official_name_en": "United States of America",
        "region": "Americas",
        "solar_TWh": 132.6307535,
        "total_TWh": 3987.3304358499995,
        "wind_TWh": 337.50981469,
        "year": 2020
    },
}
```

We need only the last available indicator for the columns `carbon_intensity_elec`, not the history, `year` is just an indicator of the freshness.

If we don't have `carbon_intensity` it could be computed, but we prefer to not have to do it.

We could keep `*_electricity` to have the electricity mix in `TWh` but it is not mandatory.

So, we have to:
1. Filter for the last available year
1. Check if we not loose country we previously had.
1. Keep only the data we need
1. Export to JSON